# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
cdn-service

# Dependency directories
vendor/

# Environment files
.env

# Uploads directory
uploads/
/uploads/**
medias/
/medias/**
test_uploads/
/test_uploads/**

# IDEs
.vscode/
.idea/
.DS_Store
